* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
}

main {
  margin-inline: auto;
  padding: 36px;
  max-width: 600px;
}

.navbar {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  padding: 20px;
}

.navbar > img {
  height: 180%;
  margin-right: 6px;
  border-radius: 50%;
  cursor: pointer;
}

.navbar > h1 {
  font-size: 1.25rem;
  margin-right: 19%;
  cursor: pointer;
}

.navbar-middle > button {
  height: 50%;
  margin-top: 0.5%;
  width: 90px;
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer;
}
.navbar-middle > input {
  margin-top: 1%;
  margin-bottom: 0.5%;
  width: 350px;
}


.navbar-middle{
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.profile-image{
  margin-left : auto;
}


button {
  grid-column: 1 / -1;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border: none;
  cursor: pointer;
  min-height: 40px;
  font-family: "Karla", sans-serif;
}

.search-bar{
  font-family: "Karla", sans-serif;
  font-size: 1rem;
}

.product-container{

}



.bottom {
  bottom: 0;
}

.top {
  top: 0;
}