* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
}

main {
  margin-inline: auto;
  padding: 36px;
  max-width: 600px;
}

.navbar {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  border-radius: 8px;
}

.navbar > img {
  height: 180%;
  margin-right: 6px;
  border-radius: 50%;
  cursor: pointer;
}


.navbar-brand{
  font-size: 1.3rem;
  margin-right: 19%;
  cursor: pointer;
  font-family: "Karla", sans-serif;
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.navbar-middle > button {
  height: 50%;
  margin-top: 0.5%;
  width: 90px;
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer;
}
.navbar-middle > input {
  margin-top: 1%;
  margin-bottom: 0.5%;
  width: 350px;
}


.navbar-middle{
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.profile-image{
  margin-left: auto;
}


button {
  grid-column: 1 / -1;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border: none;
  cursor: pointer;
  min-height: 40px;
  font-family: "Karla", sans-serif;
}

.search-bar{
  font-family: "Karla", sans-serif;
  font-size: 1rem;
}

.product-container{

}


.dropdown {
  position: absolute;

  top: 80px;
  right: 4%;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  border-radius: 8px;
  min-width: 150px;
}

.dropdown a {
  display: block;
  padding: 10px 15px;
  color: #333;
  text-decoration: none;
}




.bottom {
  bottom: 0;
}

.top {
  top: 0;
}